@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}
.container {
  position: relative;
  width: 850px;
  height: 550px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  overflow: hidden;
}
.form-box {
  width: 50%;
  height: 100%;
  right: 0;
  background-color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  color: #333;
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s, visibility 0s 1s;
}
.container.active .form-box {
  right: 50%;
}
.form-box.register {
  visibility: hidden;
}

.container.active .form-box.register {
  visibility: visible;
}

form {
  width: 100%;
}
.container h1 {
  font-size: 36px;
  margin: -10px 0;
}
.input-box {
  margin: 30px 0;
  position: relative;
}
.input-box input.error {
  border: 2px solid #e74c3c !important;
  background-color: #ffeaea;
}
.input-box input.error::placeholder {
  color: #e74c3c;
}
.input-box.error::after {
  content: attr(data-error);
  color: #e74c3c;
  font-size: 13px;
  position: absolute;
  bottom: -20px;
  left: 5px;
  transition: all 0.3s;
}
.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #eee;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}
.forget-password {
  margin: -15px 0 15px;
}
.forget-password a {
  text-decoration: none;
  color: #333;
  font-size: 14.5px;
}
.btn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
  margin: 15px 0;
  font-size: 14.5px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}
.social-media-icons a {
  font-size: 24px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 0 8px;
  color: #333;
  text-decoration: none;
  display: inline-flex;
}
.toggel-box {
  width: 100%;
  height: 100%;
  position: absolute;
}
.toggel-box::before {
  content: "";
  position: absolute;
  width: 300%;
  left: -250%;
  height: 100%;
  border-radius: 150px;
  background-color: #335232;
  z-index: 2;
  transition: 1.8s ease-in-out;
}
.container.active .toggel-box::before {
  left: 50%;
}
.toggle-panel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #fff;
  z-index: 2;
  transition: 0.6s ease-in-out;
}
.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}
.container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}
.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}
.container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}
.toggle-panel p {
  margin-bottom: 20px;
}

.toggle-panel .btn {
  border: 2px solid #fff;
  background-color: transparent;
  width: 160px;
  height: 46px;
  box-shadow: none;
}

@media screen and (max-width: 650px) {
  .container {
    height: calc(100vh - 40px);
  }
  .form-box {
    width: 100%;
    height: 70%;
    bottom: 0;
  }
  .container.active .form-box {
    right: 0;
    bottom: 30%;
  }
  .toggel-box::before {
    width: 100%;
    height: 300%;
    top: -270%;
    left: 0;
    border-radius: 20vw;
  }
  .container.active .toggel-box::before {
    top: 70%;
    left: 0;
  }
  .toggle-panel {
    width: 100%;
    height: 30%;
  }
  .toggle-panel.toggle-left {
    top: 0;
  }
  .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }
  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }
  .container.active .toggle-panel.toggle-right {
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 400px) {
  .form-box {
    padding: 20px;
  }
  .toggle-panel h1 {
    font-size: 30px;
  }
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 5px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.toast.active {
  transform: translateX(0%);
  opacity: 1;
}
.toast .toast-content {
  display: flex;
  align-items: center;
}
.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #6af440;
  color: #fff;
  font-size: 20px;
  border-radius: 10%;
}
.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666;
}
.message .text.text-1 {
  font-weight: 600;
  color: #333;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4px;
  width: 100%;
  background: #ddd;
}
.toast.success .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #6af440;
}
.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f44040;
}
.progress.active:before {
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    left: 100%;
  }
}
